@CHARSET "UTF-8";

/********/
/* 全体 */
/******/
html, body {
	margin: 0px;
 	min-height: 1000px;
 	background-color: lavender;
 	word-wrap: break-word;	/*英文を途中であっても折り返す*/
 	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
 	line-height: 1.0;	/*メイリオの行間リセット*/
}


/*************/
/* CONTENTS */
/***********/
div.CONTENTS {}
div.MENU {
	z-index: 99;	/*上面に出るように*/
	float: left;	/*横並び*/
	width: 165px;
	padding-top: 10px;	/*ヘッダーの影がメニューのヘッダーに被っているのでちょっと離す*/
}
div.GRID {
	margin-left: 175px;
}
.slick-row.even {
	background: #ffffff;
}
.slick-row.odd {
	background: #f9f9f9;
}
.clearfix:after {	/*float解除用*/
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-table;
}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

/***********************************/
/* ログイン・エラー・タイムアウト・トップ */
/*********************************/
.main {
	width: 400px;
	padding-top: 100px;
	margin-right: auto;
	margin-left: auto;
}
.main-logo, .login-form, .login-button {
	width: auto;
	text-align: center;
	padding-bottom: 10px;
}
.main-dot {
	border: 1px black dotted;
}
.main-form-base {
	padding: 20px;
}
.loginFormItem-save {
	margin-right: 20px;
}
.loginFormItem-login {
	margin-left: 20px;
}
.loginFormItem {
	padding-top:10px;
	padding-bottom:10px;
}
.loginFormItem-label {
	font-size:12px;
}
.loginFormItem-input {
	font-size:20px;
}
.login-failed {
	color:#FF0000;
	font-size:15px;
}
.message {
	padding-bottom: 20px;
	font-size: 17px;
	line-height: 20px;
}
.error-contents {
	background: #ffb5b6;
	padding: 10px;
	margin-bottom: 20px;
}
.orgname {
	padding-top: 10px;
	padding-right: 10px;
	text-align: right;
}
.topMenu {
	width: 600px;
	height: 550px;
	margin-left: 20px;
	margin-top: 10px;
}
.topMenuTable {
	height: 100%;
}
.menuInput_Timecard {
	width: 200px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 30px;
	font-size: 17px;
	padding: 5px 20px;
	background-color: dodgerblue;
	color: white;
	border-radius: 5px;
	border-style: none;
	text-align: left;
}
.menuInput_Users {
	width: 200px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 30px;
	font-size: 17px;
	padding: 5px 20px;
	background-color: #46b86d;
	color: white;
	border-radius: 5px;
	border-style: none;
	text-align: left;
}
.menuInput_Worktype {
	width: 200px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 30px;
	font-size: 17px;
	padding: 5px 20px;
	background-color: #eb7988;
	color: white;
	border-radius: 5px;
	border-style: none;
	text-align: left;
}
.menuInput_Unit {
	width: 200px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 30px;
	font-size: 17px;
	padding: 5px 20px;
	background-color: #f0b325;
	color: white;
	border-radius: 5px;
	border-style: none;
	text-align: left;
}
.topMenu input:hover {
	background-color: #2314b7;
	color: white;
}
.tdWorkin {
	width: 600px;
	height: 400px;
}

/***************/
/* メニュー類 */
/*************/
div.menuHeader {
	border-style: solid;
	border-width: 1px;
	border-color: #555555;
	background-color: orange;
	padding: 5px;
	text-align: center;
	margin: 0 auto;
}
td.plus {
	width: 10px;
}
td.text {
	width: 155px;
	text-align: center;
}
div.menu {
	border-style: solid;
	border-width: 1px;
	border-color: #555555;
	background-color: wheat;
	padding: 5px;
	text-align: left;
}
div.queryMenu {
	margin-bottom: 10px;
	box-shadow: 4px 4px 5px 0px #999;
}
div.insertMenu {
	margin-bottom: 10px;
	box-shadow: 4px 4px 5px 0px #999;
}
div.myMenu {
	margin-bottom: 10px;
	box-shadow: 4px 4px 5px 0px #999;
}
div.csvMenu {
	margin-bottom: 10px;
	box-shadow: 4px 4px 5px 0px #999;
}
div.appMenu {
	margin-bottom: 10px;
	box-shadow: 4px 4px 5px 0px #999;
}
div.menuFrame {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	display: none;
}
div.formContent {
	padding-top: 5px;
	padding-bottom: 5px;
}
div.textContent {
	text-align: left;
	padding-bottom: 5px;
}
div.btnContent {
	text-align: center;
}
div.btnContent input {
	text-align: center;
}
input.btnContent-all {
	color: red;
	font-size: 12px;
}
input.btnContent-today {
	color: blue;
	font-size: 12px;
	visibility: hidden;
}

/***********/
/* 一覧表 */
/*********/
div.grid-base {
	border-style: solid;
	border-width: 1px;
	border-color: lightsteelblue;
	font-size: 12px;
	overflow: auto;	/*領域外に出るときは横スクロール表示*/
}
div.grid {
	min-width: 900px;
}
div.pager {
	margin-right: 1px;	/*border分内側にする*/
}
.gridSelectButton {
	font-size: 10px;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	line-height: 10px;
	padding: 3px 2px;
}
.slick-headerrow-column {
	background: #87ceeb;
	text-overflow: clip;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.slick-headerrow-column input {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.slick-cell-buttonsel {
	background: #f0f0f0;
	border-right-color: silver;
	border-right-style: solid;
}

/***********/
/* 備考欄 */
/*********/
div.etc {
	text-align: left;
}
div.etc ol {
	list-style: none;
}
div.etc li {
	padding-bottom: 10px;
}
div.etc div {
	padding-bottom: 3px;
}

/***************/
/* ダイアログ */
/*************/
.dialog-form {
	display: none;	/*後で使用するので最初は非表示*/
	font-size: 13px;
}
.dialog-form input[type="text"] {
     height:15px;
     line-height: 15px;
     padding:0 3px;
}
.dialog-form_form {
	background-color: #dddddd;
	border-width: 2px;
	border-color: #000000;
}
.dialog-form_memo {
	font-size: 11px;
}
.dialog-div_table {
	width: 100%;
	border-collapse: collapse;
	border: 1px #000000 solid;
}
.dialog-div_table_logtype {
	width: 14%;
	text-align: center;
	border: 1px #000000 solid;
}
.dialog-div_table_logdate {
	width: 11%;
	text-align: center;
	border: 1px #000000 solid;
}
.dialog-div_table_logtime {
	width: 5%;
	text-align: center;
	border: 1px #000000 solid;
}
.dialog-div_table_func {
	width: 34%;
	border: 1px #000000 solid;
}
.dialog-div_table_ll {
	width: 23%;
	border: 1px #000000 solid;
}
.dialog-div_table_unitname {
	width: 13%;
	border: 1px #000000 solid;
}
.dialog_ul li {
	padding-top: 3px;
	padding-bottom: 3px;
	list-style: none;
}
.dialog_ul table {
	margin-left: -3px; /*なぜかテーブル全体が右に寄るので調整*/
}
.dialog-form_form_search_box {
	width: 2em;	/*検索欄の左マージン代わり*/
}
.dialog-form_sepalator {
	padding-top: 20px;
	paffing-bottom: 5px;
}

/*****************************/
/* 各種入力・選択欄の大きさ */
/***************************/
input.dateTextArea {
	width: 75px;
}
.timeBox {
	width: 50px;
}
.yearBox {
	width: 60px;
}
.monthBox {
	width: 60px;
}
.worktypeBox {
	width: 100%;
}
.selectBox {
	width: 100%;
}
.inputBox {
	width: 80%;
}