@CHARSET "UTF-8";


body {
	font-size: 12px;
	background: #FFF;
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}
header {
	width: 100%;
	height: 80px;
	color: #333;
	background: #EEE;
}
.nav {
	z-index: 99;	/*最上面に出るように*/
	position: absolute;
	width: 100%;
	color: #FFF;
	background: #333;
	box-shadow: 0px 5px 10px 0px #777;
}
.nav_fixed {
	position: fixed;
	top: 0px;
}
.menu_fixed {
	position: fixed;
	top: 30px;
}
.tab {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	border-left: 1px solid #666;
	padding-left: 0px;
}
.tab_li {
	height: 10px;
	width: 19%;
	padding: 10px 0;
	border-right: 1px solid #666;
	text-align: center;
	list-style: none;
	float: left;
}
.tab_li_parent {
	height: 10px;
	width: 19%;
	padding: 10px 0;
	border-right: 1px solid #666;
	text-align: center;
	list-style: none;
	float: left;
}
.tab_ul_children {
	width: 19%;
	padding: 10px 0px 0px 0px;
	margin: 0;
	text-align: left;
	position: absolute;
}
.tab_ul_children li {
	background: #333;
	padding: 10px 0px 10px 10px;
	margin: 0;
	border-right: 1px solid #666;
	text-align: left;
	list-style: none;
}
/*マウスオーバー中のタブ。色変え*/
.tab_li:hover {
	background: #0044bc;
}
.tab_li_parent:hover {
	background: #0044bc;
}
.tab_ul_children li:hover {
	background: #0044bc;
}
/*マウスオーバー中のタブのリンク。色変え*/
ul span {
	color: #aeeeff;
	text-decoration: none;
	cursor: pointer;	/*カーソル指定*/
}
/*マウスオーバー中のメニュー*/
.tab_ul_children {
	display: none;
}
.tab_li_parent:hover ul {
	display: block;
}
.tab_ul_children li:hover {
	display: block;
}
/*選択中のタブ。色変え*/
.tab li.active {
    background: #0044bc;
}
/*選択中のタブのリンク。色変え*/
.tab li.active a{
    color:#aeeeff;
}
/*ヘッダー上部(ロゴ、ログアウト)全般*/
.headerBox {
    height: 80px;
    position: relative;
}
.headerBox img {
	position: absolute;
	height: 100%;
	left: 25px;
}
.headerBox_datetime {
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	right: 25px;
	top: 20px;
}
.headerBox a {
	position: absolute;
	right: 25px;
	bottom: 5px;
}
/*CONTENTS全般*/
.contents {
	border-spacing: 0px;
}