/* ------------------------------------- /
/   Header
/* ------------------------------------- */
#header {
	height: 1em;
	padding: 4em;
	background-color: black;
}

#wrap {
	background-image: url(back.jpg);
	padding: 30px;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}